.contact {
  .wrapper.dotted__bg {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .contact__form {
    h3 {
      text-align: center;
      margin-bottom: 20px;
      a {
        color: $secondary-color;
        font-size: 1.6rem;

        &:hover {
          color: $accent-color;
        }
      }
    }
    .form__group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;

      label {
        width: 50%;
      }

      input[type='text'],
      input[type='email'] {
        color: black;
        padding: 10px 15px;
        width: -webkit-fill-available;
        border: none;
        box-shadow: 7px 7px $secondary-color;
      }

      input[type='text'] {
        margin-right: 10px;
      }
    }
    .form__textarea {
      padding: 10px 0px;
      textarea {
        color: black;
        width: -webkit-fill-available;
        border: none;
        box-shadow: 7px 7px $secondary-color;
      }
    }
  }
}
