.portfolio {
  h2:not(:first-child) {
    font-size: 3rem;
  }

  img {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    height: 80%;
    width: 95%;
  }

  .recent__section {
    padding-bottom: 25px;
  }

  .project__item {
    margin-bottom: 50px;

    h3 {
      text-align: center;
      margin: 20px;
      font-family: 'Archivo';
      font-size: 4.5rem;
      color: $secondary-color;
      width: 100%;
      display: none;
      font-weight: bold;
      text-shadow: 2px 4px 3px rgba(179, 220, 230, 0.8);
    }

    .project__item--image {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project__item--text {
      box-shadow: 7px 7px $secondary-color;
      width: 80%;
      background: white;
      margin: 20px auto;
      padding: 10px;
      display: grid;
      justify-items: center;

      h3 {
        display: block;
      }

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 20px;
          color: white;
          background: $secondary-color;
          box-shadow: 7px 7px $primary-color;
          padding: 5px 10px;
        }
      }
    }
  }
}

.portfolio .recent__section .project__item {
  @media (min-width: 760px) {
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
    }
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h3 {
      display: block;
    }

    .project__item--image {
      padding: 0 10px;
      width: 80%;
    }

    .project__item--text {
      h3 {
        display: none;
      }
      width: 90%;
      margin: 20px;
    }
  }
}

.portfolio .recent__section .project__item--image {
  @media (min-width: 760px) {
    height: 90%;
  }
}

.portfolio .side__section {
  @media (min-width: 760px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    // align-items: center;
    // justify-content: center;

    .project__item--text {
      width: 90%;
    }
  }
}
